/* Toolbar styling */
#wysihtml-toolbar button{border-bottom-left-radius:0;border-bottom-right-radius:0;min-width:50px;height:32px;}
.foreColor span{display:inline-block;width:16px;}
.wysihtml-command-active{outline:0;background-image:none;background-color:#e0e0e0 !important;border-color:#dbdbdb !important;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125);}

.fontSizeBtn span{font-size:1.2em;top:-1px;}
.fontSizeDD{margin:0;padding:0;background:none;border:none;box-shadow:none;}
.fontSizeDD, .fontSizeDD li, .fontSizeDD button{width:80px;max-width:80px;}

.wysihtml-dropdown-createLink{margin-left:-4px;display:inline-flex;}
@media(max-width:597px) {
    .wysihtml-dropdown-createLink{display:inline;}
}

/* Editor styles */
.wysiwyg-color-red{color:#b10000;}
.wysiwyg-color-green{color:#018913;}
.wysiwyg-color-blue{color:#0026ff;}

.wysiwyg-text-align-left{text-align:left;}
.wysiwyg-text-align-center{text-align:center;}
.wysiwyg-text-align-right{text-align:right;}

.wysiwyg-font-size-small{font-size:0.75em;}
.wysiwyg-font-size-medium{font-size:1em;}
.wysiwyg-font-size-large{font-size:1.25em;}
.wysiwyg-font-size-x-large{font-size:1.5em;}


/* Hacks */
.MsoNormalTable{margin:0 auto;color:blue;font-weight:bold;}.MsoNormalTable, .MsoNormalTable td{text-align:center;}