<div id="div_weather" class="col-xs-12">
	<div class="container-fluid content content-max" style="padding:0px 8px;">
					
		<h4 class="content-header">
			Weather Conditions in <span id="span_weatherLocation"></span>
			<a href="#" class="hoverbtn" onclick="showHide_content(this.children[0], this.parentNode.parentNode);">
				<span class="glyphicon glyphicon-chevron-down"></span>
			</a>
		</h4>
					
		<div class="col-xs-12">
			<div class="container-fluid">
							
				<h3><img id="img_weatherIcon" /><span id="span_curWeather"></span></h3>
				<h5 id="h5_forecast" class="text-center"></h5>
						
				<div class="col-xs-12 col-sm-4" style="padding-bottom:8px;">
					<span style="font-size:1.3em;">Current temp:<span id="span_curTemp" class="pull-right"></span></span><br />
					<div style="font-size:0.9em;">
						Feels like:<span id="span_feelsLike" class="pull-right"></span><br />
						Wind:<span id="span_wind" class="pull-right"></span><br />
						Humidity:<span id="span_humidity" class="pull-right"></span><br />
						Visibility:<span id="span_visibility" class="pull-right"></span>
					</div>
				</div>

				<div class="col-xs-12 col-sm-8" style="padding-bottom:8px;">								
					<table id="table_forecast">
						<tr>
							<td><img class="imgForecast" /></td>
							<td>Tonight</td>
							<td><span class="tempHigh"></span>/<span class="tempLow"></span></td>
							<td><span class="descForecast"></span></td>
						</tr>
						<tr>
							<td><img class="imgForecast" /></td>
							<td>Tomorrow</td>
							<td><span class="tempHigh"></span>/<span class="tempLow"></span></td>
							<td><span class="descForecast"></span></td>
						</tr>
					</table>
				</div>

				<br />
				<div id="div_weatherInfo" class="col-xs-12" style="padding-bottom:8px;">
					<span id="span_lastUpdated"></span><br />
					<em>Provided by Weather Underground</em>
				</div>
			</div>
		</div>

	</div>
</div>